* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #2c2e33;
  color: #f3e8e8;
  font-family: "Montserrat", sans-serif;
}

body .main-title {
  font-family: "Philosopher", serif;
  letter-spacing: 1px;
}

body .emphasis-text {
  color: #ff6464;
}

body .line-top {
  position: absolute;
  top: -80px;
  width: 100vw;
}

body .line-top svg {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .line-bottom {
  position: absolute;
  z-index: -10;
  width: 100vw;
  bottom: -150px;
}

body .line-bottom svg {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 90%;
  margin: auto;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .line {
  width: 80px;
  height: 2px;
  background-color: #f3e8e8;
  margin-left: auto;
  margin-right: 1em;
  border-radius: 2px;
}

header {
  visibility: hidden;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1.5em;
}

header h2 {
  font-size: 2.5em;
  height: 55px;
  position: relative;
  overflow: hidden;
}

header h2 .text-show {
  position: absolute;
}

@-webkit-keyframes center {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, -40%, 0);
            transform: translate3d(-50%, -40%, 0);
  }
}

@keyframes center {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, -40%, 0);
            transform: translate3d(-50%, -40%, 0);
  }
}

@-webkit-keyframes phone {
  from {
    top: 20%;
  }
  to {
    top: 22%;
  }
}

@keyframes phone {
  from {
    top: 20%;
  }
  to {
    top: 22%;
  }
}

@-webkit-keyframes www {
  from {
    top: 5%;
  }
  to {
    top: 6%;
  }
}

@keyframes www {
  from {
    top: 5%;
  }
  to {
    top: 6%;
  }
}

@-webkit-keyframes topPaper {
  from {
    top: 15%;
  }
  to {
    top: 16%;
  }
}

@keyframes topPaper {
  from {
    top: 15%;
  }
  to {
    top: 16%;
  }
}

@-webkit-keyframes water2 {
  from {
    top: 50%;
  }
  to {
    top: 52%;
  }
}

@keyframes water2 {
  from {
    top: 50%;
  }
  to {
    top: 52%;
  }
}

@-webkit-keyframes laptop {
  from {
    top: 60%;
  }
  to {
    top: 64%;
  }
}

@keyframes laptop {
  from {
    top: 60%;
  }
  to {
    top: 64%;
  }
}

@-webkit-keyframes bottomPaper {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
}

@keyframes bottomPaper {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
}

@-webkit-keyframes water3 {
  from {
    bottom: 20%;
  }
  to {
    bottom: 22%;
  }
}

@keyframes water3 {
  from {
    bottom: 20%;
  }
  to {
    bottom: 22%;
  }
}

@-webkit-keyframes rss {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
}

@keyframes rss {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
}

section {
  height: 45vh;
  max-width: 520px;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

section .img-center {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: center 4s infinite ease-in-out alternate;
          animation: center 4s infinite ease-in-out alternate;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

section .img-phone {
  position: absolute;
  top: 20%;
  left: 5%;
  -webkit-animation: phone 4s infinite ease-in-out alternate;
          animation: phone 4s infinite ease-in-out alternate;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

section .img-www {
  position: absolute;
  top: 5%;
  left: 30%;
  -webkit-animation: www 3s infinite ease-in-out alternate;
          animation: www 3s infinite ease-in-out alternate;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

section .img-water-1 {
  position: absolute;
  top: 15%;
  right: 45%;
}

section .img-top-paper {
  position: absolute;
  top: 15%;
  right: 5%;
  -webkit-animation: topPaper 5s infinite ease-in-out alternate;
          animation: topPaper 5s infinite ease-in-out alternate;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

section .img-water-2 {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-animation: water2 2s infinite ease-in-out alternate;
          animation: water2 2s infinite ease-in-out alternate;
}

section .img-laptop {
  position: absolute;
  top: 60%;
  right: -3%;
  -webkit-animation: laptop 4s infinite ease-in-out alternate;
          animation: laptop 4s infinite ease-in-out alternate;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

section .img-bottom-paper {
  position: absolute;
  bottom: 5%;
  right: 35%;
  -webkit-animation: bottomPaper 5s infinite ease-in-out alternate;
          animation: bottomPaper 5s infinite ease-in-out alternate;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

section .img-water-3 {
  position: absolute;
  bottom: 20%;
  left: 25%;
  -webkit-animation: water3 6s infinite ease-in-out alternate;
          animation: water3 6s infinite ease-in-out alternate;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

section .img-rss {
  position: absolute;
  bottom: 35%;
  left: 10%;
  -webkit-animation: rss 8s infinite ease-in-out alternate;
          animation: rss 8s infinite ease-in-out alternate;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media (max-width: 375px) {
  header h2 {
    height: 40px;
    font-size: 2em;
  }
}

@media (min-width: 601px) {
  body .line-top {
    top: -200px;
    height: 550px;
    background-position: center;
    background-size: 130%;
  }
  body .line-bottom {
    display: none;
  }
}

@media (min-width: 992px) {
  body .line-top {
    display: none;
  }
  body .desktop-top {
    display: block;
  }
  .desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    width: 75%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-flex .main-wrapper {
    height: 70%;
    max-height: 350px;
  }
  .desktop-flex section {
    width: 600px;
    height: 80%;
    max-height: 420px;
    overflow: visible;
    -webkit-transform: scale(1.3) translateX(-10%);
            transform: scale(1.3) translateX(-10%);
  }
}

@media (min-width: 1300px) {
  p {
    font-size: 1.3em;
  }
  .desktop-flex {
    max-width: 1200px;
  }
  .desktop-flex .main-wrapper {
    height: initial;
  }
  .desktop-flex .main-wrapper h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .desktop-flex .main-wrapper h2 {
    font-size: 3.3em;
    height: 70px;
  }
  .desktop-flex section {
    height: 60%;
  }
}
/*# sourceMappingURL=style.css.map */