$THEME-BG: #eff8ff;
$MAIN-COLOR: #8370ed;
$HEADING-COLOR: #2f2563;
$NAVBAR-ACTIVE: #0c87a3;
$TEXT-BLACK: #3a3939;
$FADED-TEXT: #929292;
$PLACEHOLDER: #c4c4c4;
$FOOTER-COPYRIGHT: #e5f2fc;
$SUB-TITLE: #17627a;
$BLUE: #8370ed;

.abt-header {
    background-color: $THEME-BG;
  
    .inner-abt-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 115vh;
      padding-bottom: 12rem;
    }
  
    .head-abt-1 {
      flex: 2;
      margin-right: 2rem;
    }
  
    .head-abt-2 {
      flex: 1.5;
      width: 30rem;
      height: 26rem;
      border-radius: 40px;
      background-color: $PLACEHOLDER;
    }
}

.abt-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: $MAIN-COLOR;

    .abt-social{
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
}

.abt-team-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center{
    text-align: center;
    justify-content: center;
    font-size: 2.1rem;
}

.abt-content-container {
    margin-top: -12rem;
    border-top-left-radius: 8rem;
    background-color: white;
    padding-top: 2rem;
  
    .section-header {
      margin: 3rem 0;
  
      .section-category {
        padding: 7px 20px;
        background-color: $MAIN-COLOR;
        display: inline-block;
        border-radius: 50px;
        font-size: 0.6rem;
        color: white;
      }
  
      .section-header-title {
        margin-top: 10px;
      }
    }
}

.tc-flex{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.tc-container{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 25rem;
  width: 17.5rem;
  box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.185);
  margin: 5rem 0 5rem 0;

  .tc-info{
    z-index: 10;
    justify-content: center;
    text-align: center;

    .tc-image{
      flex: 2;
      margin: 2rem auto auto auto;
      border-radius: 50%;
      height: 15rem;
      width: 15rem;
      background-color: $PLACEHOLDER;
      // background-image: url("../public/profile-pic.png");
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.185);
      margin-top: 1rem;
    }

    .tc-desc{
      flex: 1;
      margin-top: 2rem;
    }
  }
}

.tc-container:nth-child(1){
  background: linear-gradient(to bottom, #6441a5, #2a0845 35%, white 35%);
}

.tc-container:nth-child(2){
  background: linear-gradient(to bottom, #43cea2, #185a9d 35%, white 35%);
}

.tc-container:nth-child(3){
  background: linear-gradient(to bottom, #9d50bb, #6e48aa 35%, white 35%);
}

.tc-container:nth-child(4){
  background: linear-gradient(to bottom, #485563, #29323c 35%, white 35%);
}

@media only screen and (max-width: 768px) {
  .abt-header {
    background-color: $THEME-BG;
  
    .inner-abt-header {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      min-height: 115vh;
      padding-bottom: 12rem;
    }
  
    .head-abt-1 {
      margin-right: 0;
      margin-top: 3rem;
    }
  
    .head-abt-2 {
      flex: unset;
      width: 100%;
      height: 15rem;
      border-radius: 40px;
      background-color: $PLACEHOLDER;
    }
  }

  .tc-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .center {
      font-size: 1.5rem;
  }
}