@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif:wght@700&display=swap");

$THEME-BG: #eff8ff;
$MAIN-COLOR: #8370ed;
$HEADING-COLOR: #2f2563;
$NAVBAR-ACTIVE: #0c87a3;
$TEXT-BLACK: #3a3939;
$FADED-TEXT: #544747;
$PLACEHOLDER: #c4c4c4;
$FOOTER-COPYRIGHT: #e5f2fc;
$SUB-TITLE: #17627a;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $TEXT-BLACK;
}

* {
  box-sizing: border-box;
}

.heading-serif {
  font-family: "Noto Serif", serif;
  color: $HEADING-COLOR;
}

.heading-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  margin: 5rem 5px;
}

.main-title {
  font-size: 41.71px;
}

.sub-title {
  font-weight: 400;
  font-size: 16.68px;
  color: $SUB-TITLE;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.btn-secondary {
  font-size: 11.2px;
  font-weight: 700;
  text-align: center;
  padding: 10px 25px;
  border-radius: 40px;
  border-style: solid;
  color: $TEXT-BLACK;
}

.btn-primary {
  font-size: 11.2px;
  font-weight: 700;
  margin: 20px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 40px;
  border-style: hidden;
  background-color: $MAIN-COLOR;
  color: whitesmoke;
}

.is-open {
  div {
    background-color: $THEME-BG;
    transition: all 200ms ease-in-out;
  }

  img {
    transform: rotate(180deg);
    transition: all 200ms ease-in-out;
  }
}

.is-closed {
  div {
    background-color: white;
    transition: all 200ms ease-in-out;
  }

  img {
    transform: rotate(0deg);
    transition: all 200ms ease-in-out;
  }
}

@media only screen and (max-width: 768px) {
  .page-container {
    max-width: 90%;
  }
}

/* MEDIA QUERIES */

// @media only screen and (max-width: 600px) {
// }

// @media only screen and (max-width: 1299px) {
// }

// @media screen and (min-width: 1300px) and (max-width: 1600px) {
// }
