@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif:wght@700&display=swap");

$THEME-BG: #eff8ff;
$MAIN-COLOR: #8370ed;
$HEADING-COLOR: #2f2563;
$NAVBAR-ACTIVE: #0c87a3;
$TEXT-BLACK: #3a3939;
$FADED-TEXT: #544747;
$PLACEHOLDER: #c4c4c4;
$SUB-TITLE: #17627A;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.heading-serif {
  font-family: "Noto Serif", serif;
  color: $HEADING-COLOR;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-title{
  font-weight: 700;
  font-style: Noto-Serif;
  font-size: 41.71px;
}